services:
  - type: web
    name: audio-stream-server-docker
    env: docker
    region: oregon  # or your region
    plan: free
    dockerfilePath: ./Dockerfile
    dockerContext: .
    envVars:
      - key: PORT
        value: 10000
    healthCheckPath: /health
    autoDeploy: true
    routes:
      - type: rewrite
        source: /*
        destination: /
